@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: #121212;
  color: #A1A1A1;
}
::selection{
  background: rgba(121,40,202,0.6) ;
  color: #fff;
}
